@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes moveInbottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}


@layer base {
  /* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */

  /* html{
    font-size: 62.5%;
  } */

}

@theme {
  --font-inter: "Inter";
  --font-Albert-sans: 'Albert Sans';

  --color-midnight-green: #025959;
  --color-rich-black: #013440;
  --color-indian-yellow: #e3a54f;
  --color-bright-gray: #e5f3ec;
  --color-white: #fff;
  --color-slate-gray: #76888799;
  --color-slate-gray-transparent: rgba(118, 136, 135, 0.8);

  --animate-moveInTop: moveInTop 0.2s ease-in-out;
  --animate-moveInBottom: moveInbottom 0.2s ease-in-out
}

@layer components {
  .nav {
    @apply py-4 px-8 font-medium max-[650px]:px-6 fixed z-10 w-full;
    /* font-weight: 500; */
    li{
      @apply hover:text-indian-yellow;
    }
  }

  .btn {
    @apply rounded-xl text-white w-32 py-2 px-4 cursor-pointer font-medium font-inter;
  }

  .mobile-menu {
    @media (width <= 639px) {
      position: absolute;
      right: 0;
      top: 0;

      @apply max-sm:w-full py-10 text-bright-gray bg-slate-gray-transparent animate-moveInTop;
    }
  }

}
